.DS_Store
~*
*.log
*.pot
*.pyc
*.egg-info
*.sqlite
.idea
.tox
.cache
.coverage
/dist
/build
/docs/build
/MANIFEST
coverage.xml
sonar-project.properties
.scannerwork
Pipfile
Pipfile.lock
poetry.lock
pyproject.toml
