.*
~*
*.log
*.pot
*.pyc
*.egg-info
*.sqlite
*.inv
src/adminactions/version.py
/dist
/build
/docs/build
/MANIFEST
coverage.xml
.venv/
docs/output/**
!.pre-commit-config.yaml
!.github
!.gitignore
!.coveragerc
!docs/**/.pages
