include README.rst
include MANIFEST.in
include AUTHORS.rst
include CHANGES
include LICENSE
include setup.py
include setup.cfg
include tox.ini
include *.py
include Makefile
recursive-include docs *
recursive-include src *.css
recursive-include src *.js
recursive-include src *.pip
recursive-include src *.po
recursive-include src *.txt
recursive-include src/adminactions *.py
recursive-include src/adminactions *.html
recursive-include tests *
global-exclude *~
exclude .editorconfig
