include README.md
include MANIFEST.in
include AUTHORS.rst
include CHANGES
include LICENSE
include tox.ini
include *.py

exclude .editorconfig
exclude manage.py
exclude .*

recursive-include docs *
recursive-include src *.css
recursive-include src *.js
recursive-include src *.pip
recursive-include src *.po
recursive-include src *.txt
recursive-include src/adminactions *.py
recursive-include src/adminactions *.html
recursive-include tests *

global-exclude *.pyc
global-exclude __pycache__
global-exclude *~
