include README.rst
include MANIFEST.in
include AUTHORS.rst
include CHANGES
include LICENSE
include setup.py
recursive-include src *
recursive-include src/adminactions/templates *
recursive-include src/adminactions/static *
recursive-include src/adminactions/requirements *.pip
global-exclude *~
