[run]
branch = True
source = adminactions

omit =

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:

ignore_errors = False

[html]
directory = ~build/coverage
