{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_urls %}{% load url from aa_compat %}
{% block extrahead %}{{ block.super }}
    <style type="text/css">
        #form {
            float: left;
            width: 40%;
        }

        #legend {
            float: left;
            width: 60%;
        }
    </style>
    {% url 'adminactions.format_date' as url_format_date %}
    {% if url_format_date %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function ($) {
{#                $('#id_datetime_format, #id_date_format, #id_time_format,').after('&nbsp;&nbsp;<span class="sample"></span>');#}
                var _url = "{{ url_format_date }}";
                var get_format = function (sender) {
                    $.get(_url, {'fmt':$(sender).val()},
                            function (data) {
                                $(sender).next('.sample').html(data);
                            }
                    );
                };
                $('#id_datetime_format, #id_date_format, #id_time_format').after('&nbsp;&nbsp;<span class="sample"></span>').keyup(function () {
                    clearTimeout($(this).data('timer'));
                    var target = $(this);
                    var wait = setTimeout(function () {
                        get_format(target)
                    }, 500);
                    $(this).data('timer', wait);
                }).trigger('keyup');
            });
        })(django.jQuery);

    </script>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url 'admin:index' %}{{ app_label}}">{{ app_label|capfirst }}</a> &rsaquo;
        {% if has_change_permission %}<a
                href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
	{{ action_short_description|capfirst }}
    </div>
{% endif %}{% endblock %}

{% block content %}
    {% if adminform.form.subject.errors %}
        <ol>
            {% for error in adminform.form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
    {% endif %}
    <div id='form'>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ adminform.form }}
            </table>
{#            <input type="hidden" name="action" value="{{ action }}"/>#}
            <input type="submit" name="apply" value="{% trans 'Export' %}"/>
        </form>
    </div>
    {% url 'adminactions.format_date' as url_format_date %}
    {% if url_format_date %}
    <div id='legend-date'>
    <table xmlns="http://www.w3.org/1999/xhtml" lass="doctable table">
    <caption><b>The following characters are recognized in the
        <i><tt class="parameter">format</tt></i> parameter string</b></caption>

    <thead valign="middle">
    <tr valign="middle">
        <th><i><tt class="parameter">format</tt></i> character</th>

        <th>Description</th>
        <th>Example returned values</th>
    </tr>

    </thead>

    <tbody valign="middle" class="tbody">
    <tr valign="middle">
        <td align="center"><em class="emphasis">Day</em></td>

        <td align="left">---</td>
        <td align="left">---</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>d</i></td>
        <td align="left">Day of the month, 2 digits with leading zeros</td>

        <td align="left"><i>01</i> to <i>31</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>D</i></td>
        <td align="left">A textual representation of a day, three letters</td>

        <td align="left"><i>Mon</i> through <i>Sun</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>j</i></td>
        <td align="left">Day of the month without leading zeros</td>

        <td align="left"><i>1</i> to <i>31</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>l</i> (lowercase 'L')</td>
        <td align="left">A full textual representation of the day of the week</td>

        <td align="left"><i>Sunday</i> through <i>Saturday</i></td>
    </tr>
    <tr>
    <td align="left"><i>1</i> (for Monday) through <i>7</i> (for Sunday)</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>S</i></td>
        <td align="left">English ordinal suffix for the day of the month, 2 characters</td>

        <td align="left">
            <i>st</i>, <i>nd</i>, <i>rd</i> or
            <i>th</i>. Works well with <i>j</i>
        </td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>w</i></td>
        <td align="left">Numeric representation of the day of the week</td>
        <td align="left"><i>0</i> (for Sunday) through <i>6</i> (for Saturday)</td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>z</i></td>
        <td align="left">The day of the year (starting from 0)</td>
        <td align="left"><i>0</i> through <i>365</i></td>

    </tr>

    <tr valign="middle">
        <td align="center"><em class="emphasis">Week</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>W</i></td>
        <td align="left">ISO-8601 week number of year, weeks starting on Monday (added in PHP 4.1.0)</td>
        <td align="left">Example: <i>42</i> (the 42nd week in the year)</td>
    </tr>

    <tr valign="middle">
        <td align="center"><em class="emphasis">Month</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>F</i></td>

        <td align="left">A full textual representation of a month, such as January or March</td>
        <td align="left"><i>January</i> through <i>December</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>m</i></td>

        <td align="left">Numeric representation of a month, with leading zeros</td>
        <td align="left"><i>01</i> through <i>12</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>M</i></td>

        <td align="left">A short textual representation of a month, three letters</td>
        <td align="left"><i>Jan</i> through <i>Dec</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>n</i></td>

        <td align="left">Numeric representation of a month, without leading zeros</td>
        <td align="left"><i>1</i> through <i>12</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>t</i></td>

        <td align="left">Number of days in the given month</td>
        <td align="left"><i>28</i> through <i>31</i></td>
    </tr>

    <tr valign="middle">
        <td align="center"><em class="emphasis">Year</em></td>

        <td align="left">---</td>
        <td align="left">---</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>L</i></td>
        <td align="left">Whether it's a leap year</td>

        <td align="left"><i>1</i> if it is a leap year, <i>0</i> otherwise.</td>
    </tr>

    {#              <tr valign="middle">#}
    {#               <td align="left"><i>o</i></td>#}
    {#               <td align="left">ISO-8601 year number. This has the same value as#}
    {#                <i>Y</i>, except that if the ISO week number#}
    {#                (<i>W</i>) belongs to the previous or next year, that year#}
    {#                is used instead. (added in PHP 5.1.0)</td>#}

    <td align="left">Examples: <i>1999</i> or <i>2003</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>Y</i></td>
        <td align="left">A full numeric representation of a year, 4 digits</td>

        <td align="left">Examples: <i>1999</i> or <i>2003</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>y</i></td>
        <td align="left">A two digit representation of a year</td>

        <td align="left">Examples: <i>99</i> or <i>03</i></td>
    </tr>

    <tr valign="middle">
        <td align="center"><em class="emphasis">Time</em></td>
        <td align="left">---</td>

        <td align="left">---</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>a</i></td>
        <td align="left">Lowercase Ante meridiem and Post meridiem</td>
        <td align="left"><i>am</i> or <i>pm</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>A</i></td>
        <td align="left">Uppercase Ante meridiem and Post meridiem</td>
        <td align="left"><i>AM</i> or <i>PM</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>B</i></td>
        <td align="left">Swatch Internet time</td>
        <td align="left"><i>000</i> through <i>999</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>g</i></td>
        <td align="left">12-hour format of an hour without leading zeros</td>
        <td align="left"><i>1</i> through <i>12</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>G</i></td>
        <td align="left">24-hour format of an hour without leading zeros</td>
        <td align="left"><i>0</i> through <i>23</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>h</i></td>
        <td align="left">12-hour format of an hour with leading zeros</td>
        <td align="left"><i>01</i> through <i>12</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>H</i></td>
        <td align="left">24-hour format of an hour with leading zeros</td>
        <td align="left"><i>00</i> through <i>23</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>i</i></td>
        <td align="left">Minutes with leading zeros</td>
        <td align="left"><i>00</i> to <i>59</i></td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>s</i></td>
        <td align="left">Seconds, with leading zeros</td>
        <td align="left"><i>00</i> through <i>59</i></td>

    </tr>

    {#              <tr valign="middle">#}
    {#               <td align="left"><i>u</i></td>#}
    {#               <td align="left">Microseconds (added in PHP 5.2.2)</td>#}
    {#               <td align="left">Example: <i>654321</i></td>#}
    {#              </tr>#}

    <tr valign="middle">
        <td align="center"><em class="emphasis">Timezone</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
    </tr>

    {#              <tr valign="middle">#}
    {##}
    {#               <td align="left"><i>e</i></td>#}
    {#               <td align="left">Timezone identifier (added in PHP 5.1.0)</td>#}
    {#               <td align="left">Examples: <i>UTC</i>, <i>GMT</i>, <i>Atlantic/Azores</i></td>#}
    {#              </tr>#}

    <tr valign="middle">
        <td align="left"><i>I</i> (capital i)</td>
        <td align="left">Whether or not the date is in daylight saving time</td>
        <td align="left"><i>1</i> if Daylight Saving Time, <i>0</i> otherwise.</td>

    </tr>

    <tr valign="middle">
        <td align="left"><i>O</i></td>
        <td align="left">Difference to Greenwich time (GMT) in hours</td>
        <td align="left">Example: <i>+0200</i></td>
    </tr>

    {#              <tr valign="middle">#}
    {#               <td align="left"><i>P</i></td>#}
    {#               <td align="left">Difference to Greenwich time (GMT) with colon between hours and minutes (added in PHP 5.1.3)</td>#}
    {#               <td align="left">Example: <i>+02:00</i></td>#}
    {#              </tr>#}

    <tr valign="middle">

        <td align="left"><i>T</i></td>
        <td align="left">Timezone abbreviation</td>
        <td align="left">Examples: <i>EST</i>, <i>MDT</i> ...</td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>Z</i></td>
        <td align="left">Timezone offset in seconds. The offset for timezones west of UTC is always
            negative, and for those east of UTC is always positive.
        </td>
        <td align="left"><i>-43200</i> through <i>50400</i></td>
    </tr>

    <tr valign="middle">
        <td align="center"><em class="emphasis">Full Date/Time</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
    </tr>

    {#              <tr valign="middle">#}
    {#               <td align="left"><i>c</i></td>#}
    {##}
    {#               <td align="left">ISO 8601 date (added in PHP 5)</td>#}
    {#               <td align="left">2004-02-12T15:19:21+00:00</td>#}
    {#              </tr>#}

    <tr valign="middle">
        <td align="left"><i>r</i></td>
        <td align="left"><a class="link external" href="http://www.faqs.org/rfcs/rfc2822">» RFC 2822</a> formatted date
        </td>

        <td align="left">Example: <i>Thu, 21 Dec 2000 16:01:07 +0200</i></td>
    </tr>

    <tr valign="middle">
        <td align="left"><i>U</i></td>
        <td align="left">Seconds since the Unix Epoch (January 1 1970 00:00:00 GMT)</td>
        <td align="left">See also <span class="function"><a class="function" href="function.time.php">time()</a></span>
        </td>

    </tr>

    </tbody>

    </table>

    </div>
    {% endif  %}
{% endblock %}
