{% extends "admin/change_form.html" %} {% load admin_modify admin_urls i18n %}{% block extrahead %}{{ block.super }}
<style type="text/css">
  #form {
    float: left;
    width: 40%;
  }

  #legend {
    float: left;
    width: 60%;
  }
</style>
{% url 'adminactions.format_date' as url_format_date %} {% if url_format_date %}
<script type="text/javascript">
  (function ($) {
    $(document).ready(function ($) {
      var _url = "{{ url_format_date }}";
      var get_format = function (sender) {
        $.get(_url, { fmt: $(sender).val() }, function (data) {
          $(sender).next(".sample").html(data);
        });
      };
      $("#id_datetime_format, #id_date_format, #id_time_format").each(function (i, el){
        var target = $(el).attr("id");
        $(el).after('&nbsp;&nbsp;<span class="sample ' + target + '"></span>').keyup(function () {
          clearTimeout($(this).data("timer"));
          var target = $(this);
          var wait = setTimeout(function () {get_format(target); }, 500);
           $(this).data("timer", wait);
            }).trigger("keyup");
      })
    });
  })(django.jQuery);
</script>
{% endif %} {% endblock extrahead %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate "Home" %}</a> &rsaquo;
  <a href="{% url 'admin:index' %}{{ app_label }}">{{ app_label|capfirst }}</a>
  &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; {{ action_short_description|capfirst }}
</div>
{% endif %}{% endblock breadcrumbs %}

{% block content %} {% if adminform.form.subject.errors %}
<ol>
  {% for error in adminform.form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}
<div id="form">
  <form action="" method="post" id="export-form">
    {% csrf_token %}
    <table>
      {{ adminform.form }}
    </table>
    <input type="submit" name="apply" value="{% translate 'Export' %}" />
  </form>
</div>
{% url 'adminactions.format_date' as url_format_date %} {% if url_format_date %}
<div id="legend-date">
  <table xmlns="http://www.w3.org/1999/xhtml" lass="doctable table">
    <caption>
      <b
        >The following characters are recognized in the<i
          ><tt class="parameter">format</tt></i
        >
        parameter string</b
      >
    </caption>
    <thead valign="middle">
      <tr valign="middle">
        <th><i></i>{% translate "character" %}</th>
        <th>{% translate "Description" %}</th>
        <th>{% translate "Example returned values" %}</th>
      </tr>
    </thead>

    <tbody valign="middle" class="tbody">
      <tr valign="middle">
        <td align="center"><em class="emphasis">{% translate "Day" %}</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>d</i></td>
        <td align="left">
          {% translate "Day of the month, 2 digits with leading zeros" %}
        </td>
        <td align="left"><i>01</i> {% translate "to" %} <i>31</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>D</i></td>
        <td align="left">
          {% translate "A textual representation of a day, three letters" %}
        </td>
        <td align="left">
          <i>{% translate "Mon" %}</i>{% translate "through" %}<i
            >{% translate "Sun" %}</i
          >
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>j</i></td>
        <td align="left">
          {% translate "Day of the month without leading zeros" %}
        </td>
        <td align="left"><i>1</i> {% translate "to" %}<i>31</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>l</i> (lowercase 'L')</td>
        <td align="left">
          {% translate "A full textual representation of the day of the week" %}
        </td>
        <td align="left">
          <i>{% translate "Sunday" %}</i>{% translate "through" %}<i>{% translate "Saturday" %}</i>
        </td>
      </tr>

      <tr>
        <td align="left">
          <i>1</i>{% translate "for Monday through" %}<i>7</i>{% translate "for Sunday" %}
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>S</i></td>
        <td align="left">
          {% translate "English ordinal suffix for the day of the month, 2 characters" %}
        </td>
        <td align="left">
          <i>st</i>, <i>nd</i>, <i>rd</i> or <i>th</i>.{% translate "Works well with" %} <i>j</i>
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>w</i></td>
        <td align="left">
          {% translate "Numeric representation of the day of the week" %}
        </td>
        <td align="left">
          <i>0</i>{% translate "(for Sunday) through" %}<i>6</i>{% translate "(for Saturday)" %}
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>z</i></td>
        <td align="left">
          {% translate "The day of the year (starting from 0)" %}
        </td>
        <td align="left"><i>0</i>{% translate "through" %}<i>365</i></td>
      </tr>

      <tr valign="middle">
        <td align="center"><em class="emphasis">{% translate "Week" %}</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>W</i></td>
        <td align="left">
          {% translate "ISO-8601 week number of year, weeks starting on Monday (added in PHP 4.1.0)" %}
        </td>
        <td align="left">
          {% translate "Example:" %} <i>42</i> {% translate "(the 42nd week in the year)" %}
        </td>
      </tr>

      <tr valign="middle">
        <td align="center">
          <em class="emphasis">{% translate "Month" %}</em>
        </td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>F</i></td>
        <td align="left">
          {% translate "A full textual representation of a month, such as January or March" %}
        </td>
        <td align="left">
          <i>{% translate "January" %}</i> {% translate "through" %}<i
            >{% translate "December" %}</i
          >
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>m</i></td>
        <td align="left">
          {% translate "Numeric representation of a month, with leading zeros" %}
        </td>
        <td align="left"><i>01</i>{% translate " through" %} <i>12</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>M</i></td>
        <td align="left">
          {% translate "A short textual representation of a month, three letters" %}
        </td>
        <td align="left">
          <i>{% translate "Jan" %}</i>{% translate " through" %}<i
            >{% translate "Dec" %}</i
          >
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>n</i></td>
        <td align="left">
          {% translate "Numeric representation of a month, without leading zeros" %}
        </td>
        <td align="left"><i>1</i>{% translate " through" %}<i>12</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>t</i></td>
        <td align="left">
          {% translate "Number of days in the given month" %}
        </td>
        <td align="left"><i>28</i>{% translate " through" %} <i>31</i></td>
      </tr>

      <tr valign="middle">
        <td align="center"><em class="emphasis">{% translate "Year" %}</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>L</i></td>
        <td align="left">{% translate "Whether it's a leap year" %}</td>
        <td align="left">
          <i>1</i>{% translate " if it is a leap year, " %}<i>0</i> {% translate "otherwise." %}
        </td>
      </tr>

      <tr>
        <td align="left">
          {% translate "Examples:" %}<i>{% translate "1999" %}</i>{% translate "or" %}
          <i>{% translate "2003" %}</i>
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>Y</i></td>
        <td align="left">
          {% translate "A full numeric representation of a year, 4 digits" %}
        </td>
        <td align="left">
          {% translate "Examples: " %}<i>{% translate "1999" %}</i> {% translate "or" %}
          <i>2003</i>
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>y</i></td>
        <td align="left">
          {% translate "A two digit representation of a year" %}
        </td>
        <td align="left">{% translate "Examples: <i>99</i> or <i>03</i>" %}</td>
      </tr>

      <tr valign="middle">
        <td align="center"><em class="emphasis">{% translate "Time" %}</em></td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>a</i></td>
        <td align="left">
          {% translate "Lowercase Ante meridiem and Post meridiem" %}
        </td>
        <td align="left"><i>am</i> {% translate "or " %}<i>pm</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>A</i></td>
        <td align="left">
          {% translate "Uppercase Ante meridiem and Post meridiem" %}
        </td>
        <td align="left"><i>AM</i>{% translate " or " %}<i>PM</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>B</i></td>
        <td align="left">{% translate "Swatch Internet time" %}</td>
        <td align="left"><i>000</i>{% translate " through " %}<i>999</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>g</i></td>
        <td align="left">
          {% translate "12-hour format of an hour without leading zeros" %}
        </td>
        <td align="left"><i>1</i>{% translate " through " %}<i>12</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>G</i></td>
        <td align="left">
          {% translate "24-hour format of an hour without leading zeros" %}
        </td>
        <td align="left"><i>0</i>{% translate " through " %}<i>23</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>h</i></td>
        <td align="left">
          {% translate "12-hour format of an hour with leading zeros" %}
        </td>
        <td align="left"><i>01</i>{% translate " through " %}<i>12</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>H</i></td>
        <td align="left">
          {% translate "24-hour format of an hour with leading zeros" %}
        </td>
        <td align="left"><i>00</i>{% translate " through " %}<i>23</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>i</i></td>
        <td align="left">{% translate "Minutes with leading zeros" %}</td>
        <td align="left"><i>00</i>{% translate " to " %}<i>59</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>s</i></td>
        <td align="left">{% translate "Seconds, with leading zeros" %}</td>
        <td align="left"><i>00</i>{% translate " through" %} <i>59</i></td>
      </tr>

      <tr valign="middle">
        <td align="center">
          <em class="emphasis">{% translate "Timezone" %}</em>
        </td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>I</i>{% translate " (capital i)" %}</td>
        <td align="left">
          {% translate "Whether or not the date is in daylight saving time" %}
        </td>
        <td align="left">
          <i>1</i>{% translate " if Daylight Saving Time, <i>0</i> otherwise." %}
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>O</i></td>
        <td align="left">
          {% translate "Difference to Greenwich time (GMT) in hours" %}
        </td>
        <td align="left">{% translate "Example: " %}<i>+0200</i></td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>T</i></td>
        <td align="left">{% translate "Timezone abbreviation" %}</td>
        <td align="left">
          {% translate "Examples: " %}<i>EST</i>, <i>MDT</i> ...
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>Z</i></td>
        <td align="left">
          {% translate "Timezone offset in seconds. The offset for timezones west of UTC is always negative, and for those east of UTC is always positive." %}
        </td>
        <td align="left">
          <i>-43200</i>{% translate "through " %}<i>50400</i>
        </td>
      </tr>

      <tr valign="middle">
        <td align="center">
          <em class="emphasis">{% translate "Full Date/Time" %}</em>
        </td>
        <td align="left">---</td>
        <td align="left">---</td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>r</i></td>
        <td align="left">
          <a class="link external" href="http://www.faqs.org/rfcs/rfc2822"
            >» RFC 2822</a
          >{% translate "formatted date" %}
        </td>

        <td align="left">
          {% translate "Example: " %}<i
            >{% translate "Thu, 21 Dec 2000 16:01:07 +0200" %}</i
          >
        </td>
      </tr>

      <tr valign="middle">
        <td align="left"><i>U</i></td>
        <td align="left">
          {% translate "Seconds since the Unix Epoch (January 1 1970 00:00:00 GMT)" %}
        </td>
        <td align="left">
          {% translate "See also" %}
          <span class="function">
            <a class="function" href="function.time.php">time()</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %} {% endblock content %}
