{% extends "admin/change_form.html" %}
{% load i18n admin_modify actions massupdate static %}
{#{% block extrahead %}{{ block.super }}#}
{#  {{ media }}#}
{#{% endblock %}#}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo;
        <a href=".">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
	{{ action_short_description|capfirst }}
    </div>
{% endif %}{% endblock %}

{% block content %}
    {% if form.subject.errors %}
        <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
    {% endif %}
    {{ form.non_field_errors }}
    <div id='col1'>
        <form action="" method="post" id="mass-update-form" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="mass-update">
                {% for field in adminform.form.configured_fields %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td colspan="4">
                            {{ field.errors }}
                            {{ field }}&nbsp;<span class="help">{{ field.help_text }}</span>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">
{#                        <hr/>#}
                    </td>
                </tr>
                <tr>
                    <th>field name</th>
                    <th>update</th>
                    <th>function</th>
                    <th>new value</th>
                    {% if grouped %}
                    <th>existing values
                        <small><i>(sample)</i></small>
                    </th>
                  {% endif %}
                </tr>
                {% for field in adminform.form.model_fields %}
                    <tr class="{{ field.name }}-row">
                        <td>{% if field.field.required %}
                            <b>{% endif %} {{ field.label_tag }}{% if field.field.required %}</b>{% endif %}  </td>
                        <td class='col_enabler'>{% checkbox_enabler field %}</td>
                        <td class='col_func field-{{ field.name }}-op'>
                            {% field_function adminform.model_admin.model field %}&nbsp;</td>
                        <td class='col_field field-{{ field.name }}-value'>{{ field.errors }}
                        {{ field }}&nbsp;</td>
                        {% if grouped %}
                        <td class='field-{{ field.name }}-commonvalues'>
                            {% link_fields_values grouped field.name %}
                        </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <input type="submit" name="apply" value="Update {{ selection.count }} records"/>
        </form>
    </div>
{% endblock %}
