{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_urls %}{% load url from future %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            // Create our data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows({{ as_json|safe }});

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.{{ graph_type }}(document.getElementById('chart_div'));
            chart.draw(data, {width: 800, height: 600});
        }
    </script>

{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo;
        <a href=".">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
        Graph
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <div class="left">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ adminform.form }}
            </table>
            <input type="hidden" name="action" value="{{ action }}"/>
            <input type="submit" name="apply" value="go"/>
        </form>
    </div>
    {% if graph_type %}
            <div id="chart_div" class='left'></div>
    {% endif %}
{% endblock %}
